In [536]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import dateutil.parser
import json
import calendar
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.learning_curve import learning_curve
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.cross_validation import train_test_split, cross_val_score, cross_val_predict
from urllib2 import Request, urlopen
from pandas.io.json import json_normalize
from pprint import pprint
from patsy import dmatrices
%matplotlib inline

In [5]:
divvy_df = pd.read_csv('Divvy_Trips_2014-Q3-07.csv', sep = ',')

In [209]:
divvy_df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,2886259,7/31/2014 23:56,8/1/2014 0:03,2602,386,291,Wells St & Evergreen Ave,53,Wells St & Erie St,Subscriber,Female,1979
1,2886258,7/31/2014 23:58,8/1/2014 0:07,2403,495,98,LaSalle St & Washington St,106,State St & Pearson St,Subscriber,Male,1974
2,2886257,7/31/2014 23:58,8/1/2014 2:10,669,7947,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
3,2886256,7/31/2014 23:58,8/1/2014 0:19,2431,1282,47,State St & Kinzie St,14,Morgan St & 18th St,Customer,NaN,NaN
4,2886255,7/31/2014 23:57,8/1/2014 2:10,2885,7972,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN

In [327]:
divvy_df['from_station_id'].describe()

#there are 300 unique station IDs but the range is from 5 to 351

count    410340.000000
mean        161.966706
std          99.753870
min           5.000000
25%          75.000000
50%         154.000000
75%         249.000000
max         351.000000
Name: from_station_id, dtype: float64

In [21]:
divvy_hr_df = divvy_df.copy(deep = True)

In [28]:
def hourbinner(fulltime):
    return dateutil.parser.parse(fulltime).replace(minute=0, second=0)
    
# print dateutil.parser.parse('7/31/2014 23:58').replace(minute=0, second=0)

In [29]:
divvy_hr_df.starttime = divvy_hr_df.starttime.apply(lambda x: hourbinner(x))

In [32]:
divvy_hr_df.stoptime = divvy_hr_df.stoptime.apply(lambda x: hourbinner(x))

In [49]:
print divvy_hr_df.groupby(['from_station_name'])['starttime'].size().order(ascending = False)

from_station_name
Streeter Dr & Illinois St       11149
Lake Shore Dr & Monroe St        8533
Theater on the Lake              8358
Michigan Ave & Oak St            7338
Lake Shore Dr & North Blvd       6872
Millennium Park                  5560
Clinton St & Washington Blvd     5237
Canal St & Adams St              4840
Columbus Dr & Randolph St        4672
Museum Campus                    4670
Canal St & Madison St            4336
McClurg Ct & Illinois St         3889
Michigan Ave & Washington St     3794
Clark St & Elm St                3760
Indiana Ave & Roosevelt Rd       3545
Wells St & Concord Ln            3438
Michigan Ave & Jackson Blvd      3339
Daley Center Plaza               3228
Franklin St & Arcade Pl          3211
State St & Erie St               3208
Lake Shore Dr & Ohio St          3179
Dearborn St & Adams St           3177
Michigan Ave & Lake St           3113
Clark St & Lincoln Ave           3090
Michigan Ave & Pearson St        3066
State St & Kinzie St             3032
Wabash Ave & Grand Ave           3026
Clinton St & Madison St          2972
Fairbanks Ct & Grand Ave         2941
LaSalle St & Illinois St         2929
                                ...
Morgan St & 31st St               266
Stave St & Armitage Ave           263
Wentworth Ave & 24th St           247
Calumet Ave & 33rd St             240
Greenwood Ave & 47th St           233
Western Ave & 21st St             229
Halsted St & 21st St              222
Halsted St & 35th St              212
Normal Ave & Archer Ave           203
Prairie Ave & Garfield Blvd       197
Claremont Ave & Hirsch St         194
Damen Ave & Cullerton St          185
Indiana Ave & 26th St             177
Wallace Ave & 35th St             176
Ashland Ave & 13th St             157
May St & Cullerton St             144
California Ave & 21st St          137
MLK Jr Dr & Oakwood Blvd          116
State St & 29th St                114
Western Ave & 24th St              98
Ashland Ave & 21st St              92
Halsted St & 37th St               92
Calumet Ave & 35th St              90
MLK Jr Dr & 47th St                75
Racine Ave & 13th St               74
Indiana Ave & 40th St              74
Cottage Grove Ave & 51st St        67
Damen Ave & Coulter St             61
Cottage Grove Ave & 43rd St        20
Cottage Grove Ave & 47th St        19
dtype: int64

In [146]:
fromstation_starttime = divvy_hr_df.groupby(['from_station_name', 'starttime']).size()

In [147]:
ts = fromstation_starttime.unstack(level=0)

In [149]:
index = pd.date_range('2014-07-01', '2014-07-31', freq='H')

In [150]:
ts = ts.reindex(index, fill_value = 0)

In [154]:
ts = ts.fillna(0)

In [156]:
ts = ts.stack()

In [157]:
ts = ts.swaplevel(0,1)

In [158]:
ts = ts.sortlevel()

In [165]:
tostation_stoptime = divvy_hr_df.groupby(['to_station_name', 'stoptime']).size()

In [166]:
vs = tostation_stoptime.unstack(level=0)

In [167]:
vs = vs.reindex(index, fill_value = 0)

In [168]:
vs = vs.fillna(0)

In [169]:
vs = vs.stack()

In [170]:
vs = vs.swaplevel(0,1)

In [171]:
vs = vs.sortlevel()

In [200]:
combined = pd.concat([ts, vs], axis=1)

In [201]:
combined.columns = ['outflow', 'inflow']

In [202]:
combined.head()

                                       outflow  inflow
from_station_name
900 W Harrison    2014-07-01 00:00:00        0       0
                  2014-07-01 01:00:00        0       0
                  2014-07-01 02:00:00        0       0
                  2014-07-01 03:00:00        0       0
                  2014-07-01 04:00:00        0       0

In [205]:
combined['flowdiff'] = combined['inflow'] - combined['outflow']

In [252]:
combined.index.names = ['station_name', 'hourly_time']

In [254]:
combined.head()

                                    outflow  inflow  flowdiff
station_name   hourly_time
900 W Harrison 2014-07-01 00:00:00        0       0         0
               2014-07-01 01:00:00        0       0         0
               2014-07-01 02:00:00        0       0         0
               2014-07-01 03:00:00        0       0         0
               2014-07-01 04:00:00        0       0         0

In [214]:
combined['flowdiff'].value_counts()

 0     101030
-1      27066
 1      26123
-2      13577
 2      13067
-3       6909
 3       6642
 4       3949
-4       3853
-5       2323
 5       2244
 6       1436
-6       1342
-7        901
 7        852
-8        592
 8        542
-9        422
 9        379
-10       288
 10       271
 11       247
-11       207
-12       175
 12       154
 13       148
-13       124
 15       110
 16        96
 14        93
        ...
-37         5
-43         5
-34         5
 32         4
-40         3
-42         3
 46         3
-49         3
 52         3
-45         2
 47         2
 45         2
 42         2
 64         1
 41         1
 49         1
 51         1
 53         1
 57         1
 59         1
 71         1
-59         1
-57         1
-56         1
-55         1
-50         1
-48         1
-47         1
-46         1
 68         1
dtype: int64

In [272]:
#flattened the multi-index DF from above.

combined.reset_index(inplace=True)

In [283]:
combined.shape

(216300, 5)

In [328]:
combined.head()

     station_name         hourly_time  outflow  inflow  flowdiff
0  900 W Harrison 2014-07-01 00:00:00        0       0         0
1  900 W Harrison 2014-07-01 01:00:00        0       0         0
2  900 W Harrison 2014-07-01 02:00:00        0       0         0
3  900 W Harrison 2014-07-01 03:00:00        0       0         0
4  900 W Harrison 2014-07-01 04:00:00        0       0         0

In [292]:
just_ID_name = divvy_df.copy(deep=True)[['from_station_id', 'from_station_name']]

In [293]:
just_ID_name = just_ID_name.rename(columns = {'from_station_name':'station_name'})

In [321]:
just_ID_name = just_ID_name.drop_duplicates()

In [329]:
just_ID_name.head()

   from_station_id                  station_name
0              291      Wells St & Evergreen Ave
1               98    LaSalle St & Washington St
2              240  Sheridan Rd & Irving Park Rd
3               47          State St & Kinzie St
5               28    Larrabee St & Menomonee St

In [322]:
bigcombine = combined.copy(deep=True)

In [323]:
result = bigcombine.merge(just_ID_name)

In [332]:
result = result.rename(columns = {'from_station_id':'id'})

In [333]:
result.head()

     station_name         hourly_time  outflow  inflow  flowdiff   id
0  900 W Harrison 2014-07-01 00:00:00        0       0         0  109
1  900 W Harrison 2014-07-01 01:00:00        0       0         0  109
2  900 W Harrison 2014-07-01 02:00:00        0       0         0  109
3  900 W Harrison 2014-07-01 03:00:00        0       0         0  109
4  900 W Harrison 2014-07-01 04:00:00        0       0         0  109

In [342]:
type(result.columns.values[0])

str

In [359]:
result.columns.values

array(['station_name', 'hourly_time', 'outflow', 'inflow', 'flowdiff', 'id'], dtype=object)

In [242]:
request= Request('http://www.divvybikes.com/stations/json')
response = urlopen(request)
api = response.read()
api_data = json.loads(api)
api_df = json_normalize(api_data['stationBeanList'])

In [243]:
api_df = api_df[["id", "latitude", "longitude", "stationName", "totalDocks"]]

In [268]:
api_df.head()

   id   latitude  longitude               stationName  totalDocks
0   2  41.872293 -87.624091  Michigan Ave & Balbo Ave          35
1   3  41.867226 -87.615355            Shedd Aquarium          31
2   4  41.856268 -87.613348            Burnham Harbor          22
3   5  41.874053 -87.627716    State St & Harrison St          23
4   6  41.885042 -87.612795            Dusable Harbor          31

In [370]:
api_df.columns

Index([u'id', u'latitude', u'longitude', u'stationName', u'totalDocks'], dtype='object')

In [371]:
result.columns

Index([u'station_name', u'hourly_time', u'outflow', u'inflow', u'flowdiff',
       u'id'],
      dtype='object')

In [368]:
api_df.columns = map(lambda x: x.encode('utf-8'), api_df.columns)

In [374]:
bigresult = pd.merge(result, api_df, on='id')

In [480]:
# bigresult.drop(bigresult.columns[[-1]], axis = 1, inplace = True)
# bigresult.head()

,station_name,hourly_time,outflow,inflow,flowdiff,id,latitude,longitude,totalDocks
0,900 W Harrison,2014-07-01 00:00:00,0,0,0,109,41.874675,-87.650019,19
1,900 W Harrison,2014-07-01 01:00:00,0,0,0,109,41.874675,-87.650019,19
2,900 W Harrison,2014-07-01 02:00:00,0,0,0,109,41.874675,-87.650019,19
3,900 W Harrison,2014-07-01 03:00:00,0,0,0,109,41.874675,-87.650019,19
4,900 W Harrison,2014-07-01 04:00:00,0,0,0,109,41.874675,-87.650019,19

In [486]:
bigresult['running_low'] = ((bigresult.flowdiff < 0) & (bigresult.flowdiff.abs() > (bigresult.totalDocks * 1.5/3.0))).astype(int)

In [487]:
bigresult.head()

,station_name,hourly_time,outflow,inflow,flowdiff,id,latitude,longitude,totalDocks,running_low
0,900 W Harrison,2014-07-01 00:00:00,0,0,0,109,41.874675,-87.650019,19,0
1,900 W Harrison,2014-07-01 01:00:00,0,0,0,109,41.874675,-87.650019,19,0
2,900 W Harrison,2014-07-01 02:00:00,0,0,0,109,41.874675,-87.650019,19,0
3,900 W Harrison,2014-07-01 03:00:00,0,0,0,109,41.874675,-87.650019,19,0
4,900 W Harrison,2014-07-01 04:00:00,0,0,0,109,41.874675,-87.650019,19,0

In [490]:
bigresult['running_low'].describe()

count    216300.000000
mean          0.005039
std           0.070809
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: running_low, dtype: float64

In [493]:
bigresult.groupby('station_name')['running_low'].mean().order(ascending = False)

station_name
Clinton St & Washington Blvd           0.070735
Dearborn St & Adams St                 0.069348
Franklin St & Arcade Pl                0.061026
Canal St & Adams St                    0.056865
Columbus Dr & Randolph St              0.048544
LaSalle St & Washington St             0.048544
Canal St & Madison St                  0.042996
Franklin St & Quincy St                0.034674
Franklin St & Lake St                  0.034674
Michigan Ave & Lake St                 0.031900
Mies van der Rohe Way & Chicago Ave    0.031900
Clark St & Randolph St                 0.027739
Stetson Ave & South Water St           0.027739
Daley Center Plaza                     0.027739
LaSalle St & Jackson Blvd              0.024965
Clark St & Elm St                      0.023578
Dearborn St & Monroe St                0.023578
Franklin St & Jackson Blvd             0.022191
Larrabee St & Kingsbury St             0.022191
Canal St & Monroe St                   0.022191
Orleans St & Merchandise Mart Plaza    0.020804
State St & Kinzie St                   0.019417
Michigan Ave & Madison St              0.019417
Wabash Ave & Grand Ave                 0.019417
Clark St & North Ave                   0.019417
Wells St & Erie St                     0.018031
Clark St & Wrightwood Ave              0.015257
Sedgwick St & Webster Ave              0.015257
Michigan Ave & Oak St                  0.015257
Fairbanks Ct & Grand Ave               0.015257
                                         ...
Fort Dearborn Dr & 31st St             0.000000
Emerald Ave & 31st St                  0.000000
Emerald Ave & 28th St                  0.000000
Ellis Ave & 58th St                    0.000000
Eckhart Park                           0.000000
Desplaines St & Kinzie St              0.000000
Kimbark Ave & 53rd St                  0.000000
Larrabee St & North Ave                0.000000
Morgan St & Polk St                    0.000000
Leavitt St & Lawrence Ave              0.000000
Morgan St & 31st St                    0.000000
Morgan St & 18th St                    0.000000
Morgan Ave & 14th Pl                   0.000000
Montrose Harbor                        0.000000
Milwaukee Ave & Rockwell St            0.000000
McCormick Place                        0.000000
May St & Taylor St                     0.000000
MLK Jr Dr & Oakwood Blvd               0.000000
MLK Jr Dr & 47th St                    0.000000
MLK Jr Dr & 29th St                    0.000000
Loomis St & Taylor St                  0.000000
Loomis St & Lexington St               0.000000
Logan Blvd & Elston Ave                0.000000
Lincoln Ave & Waveland Ave             0.000000
Lincoln Ave & Roscoe St                0.000000
Lincoln Ave & Diversey Pkwy            0.000000
Lincoln Ave & Belmont Ave              0.000000
Lincoln Ave & Addison St               0.000000
Leavitt St & North Ave                 0.000000
900 W Harrison                         0.000000
Name: running_low, dtype: float64

In [ ]:
def

In [502]:
bigresult['dayofwk'] = bigresult['hourly_time'].apply(lambda x: calendar.day_name[x.weekday()])

In [510]:
bigresult['hour'] = bigresult['hourly_time'].apply(lambda x: x.hour)

In [517]:
columnlist = list(bigresult.columns.values)
print columnlist

['station_name', 'hourly_time', 'outflow', 'inflow', 'flowdiff', 'id', 'latitude', 'longitude', 'totalDocks', 'running_low', 'dayofwk', 'hour']

In [518]:
bigresult = bigresult[['station_name', 'hourly_time', 'hour', 'dayofwk', 'outflow', 'inflow', 'flowdiff', 'id', 'latitude', 'longitude', 'totalDocks', 'running_low']]

In [519]:
bigresult.head()

,station_name,hourly_time,hour,dayofwk,outflow,inflow,flowdiff,id,latitude,longitude,totalDocks,running_low
0,900 W Harrison,2014-07-01 00:00:00,0,Tuesday,0,0,0,109,41.874675,-87.650019,19,0
1,900 W Harrison,2014-07-01 01:00:00,1,Tuesday,0,0,0,109,41.874675,-87.650019,19,0
2,900 W Harrison,2014-07-01 02:00:00,2,Tuesday,0,0,0,109,41.874675,-87.650019,19,0
3,900 W Harrison,2014-07-01 03:00:00,3,Tuesday,0,0,0,109,41.874675,-87.650019,19,0
4,900 W Harrison,2014-07-01 04:00:00,4,Tuesday,0,0,0,109,41.874675,-87.650019,19,0

In [521]:
y, X = dmatrices('running_low ~ station_name + dayofwk + hour', data=bigresult, return_type='dataframe')

In [528]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [530]:
#Logisitic Model

logmodel = LogisticRegression().fit(X_train, y_train)

print logmodel.score(X_test, y_test)

0.994969949145

/Users/yongcho822/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [531]:
# Just makin' sure this is the same thing.

# log_y_test = logmodel.predict(X_test)
# log_accur = accuracy_score(y_test, log_y_test)
# print log_accur

0.994969949145

In [534]:
KNNmodel = KNeighborsClassifier(n_neighbors=5).fit(X_train, y_train) 

print KNNmodel.score(X_test, y_test)

0.995395284327

/Users/yongcho822/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [537]:
Treemodel = DecisionTreeClassifier().fit(X_train, y_train)

print Treemodel.score(X_test, y_test)

0.995191863153