In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import dateutil.parser
%matplotlib inline

In [5]:
divvy_df = pd.read_csv('Divvy_Trips_2014-Q3-07.csv', sep = ',')

In [19]:
divvy_df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,2886259,7/31/2014 23:56,8/1/2014 0:03,2602,386,291,Wells St & Evergreen Ave,53,Wells St & Erie St,Subscriber,Female,1979
1,2886258,7/31/2014 23:58,8/1/2014 0:07,2403,495,98,LaSalle St & Washington St,106,State St & Pearson St,Subscriber,Male,1974
2,2886257,7/31/2014 23:58,8/1/2014 2:10,669,7947,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
3,2886256,7/31/2014 23:58,8/1/2014 0:19,2431,1282,47,State St & Kinzie St,14,Morgan St & 18th St,Customer,NaN,NaN
4,2886255,7/31/2014 23:57,8/1/2014 2:10,2885,7972,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN

In [21]:
divvy_hr_df = divvy_df.copy(deep = True)

In [28]:
def hourbinner(fulltime):
    return dateutil.parser.parse(fulltime).replace(minute=0, second=0)
    
# print dateutil.parser.parse('7/31/2014 23:58').replace(minute=0, second=0)

In [29]:
divvy_hr_df.starttime = divvy_hr_df.starttime.apply(lambda x: hourbinner(x))

In [32]:
divvy_hr_df.stoptime = divvy_hr_df.stoptime.apply(lambda x: hourbinner(x))

In [35]:
divvy_hr_df[:50]

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,2886259,2014-07-31 23:00:00,2014-08-01 00:00:00,2602,386,291,Wells St & Evergreen Ave,53,Wells St & Erie St,Subscriber,Female,1979
1,2886258,2014-07-31 23:00:00,2014-08-01 00:00:00,2403,495,98,LaSalle St & Washington St,106,State St & Pearson St,Subscriber,Male,1974
2,2886257,2014-07-31 23:00:00,2014-08-01 02:00:00,669,7947,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
3,2886256,2014-07-31 23:00:00,2014-08-01 00:00:00,2431,1282,47,State St & Kinzie St,14,Morgan St & 18th St,Customer,NaN,NaN
4,2886255,2014-07-31 23:00:00,2014-08-01 02:00:00,2885,7972,240,Sheridan Rd & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
5,2886254,2014-07-31 23:00:00,2014-08-01 02:00:00,2307,9067,28,Larrabee St & Menomonee St,28,Larrabee St & Menomonee St,Customer,NaN,NaN
6,2886253,2014-07-31 23:00:00,2014-08-01 01:00:00,192,6006,255,Indiana Ave & Roosevelt Rd,181,LaSalle St & Illinois St,Customer,NaN,NaN
7,2886252,2014-07-31 23:00:00,2014-08-01 00:00:00,1543,1161,288,Larrabee St & Armitage Ave,17,Wood St & Division St,Customer,NaN,NaN
8,2886251,2014-07-31 23:00:00,2014-08-01 00:00:00,2801,824,29,Noble St & Milwaukee Ave,47,State St & Kinzie St,Customer,NaN,NaN
9,2886250,2014-07-31 23:00:00,2014-08-01 02:00:00,3030,9142,28,Larrabee St & Menomonee St,28,Larrabee St & Menomonee St,Customer,NaN,NaN
10,2886249,2014-07-31 23:00:00,2014-08-01 00:00:00,1422,505,246,Ashland Ave & Belle Plaine Ave,326,Clark St & Leland Ave,Subscriber,Male,1988
11,2886248,2014-07-31 23:00:00,2014-08-01 00:00:00,1329,464,291,Wells St & Evergreen Ave,106,State St & Pearson St,Subscriber,Female,1988
12,2886247,2014-07-31 23:00:00,2014-08-01 00:00:00,444,843,29,Noble St & Milwaukee Ave,47,State St & Kinzie St,Customer,NaN,NaN
13,2886246,2014-07-31 23:00:00,2014-08-01 00:00:00,2920,1121,113,Bissell St & Armitage Ave,289,Wells St & Concord Ln,Subscriber,Male,1986
14,2886245,2014-07-31 23:00:00,2014-08-01 00:00:00,1004,1065,94,Clark St & Armitage Ave,86,Eckhart Park,Subscriber,Female,1985
15,2886244,2014-07-31 23:00:00,2014-08-01 00:00:00,2992,426,268,Lake Shore Dr & North Blvd,85,Michigan Ave & Oak St,Subscriber,Male,1991
16,2886243,2014-07-31 23:00:00,2014-08-01 02:00:00,936,9163,28,Larrabee St & Menomonee St,28,Larrabee St & Menomonee St,Customer,NaN,NaN
17,2886242,2014-07-31 23:00:00,2014-08-01 00:00:00,1798,451,268,Lake Shore Dr & North Blvd,85,Michigan Ave & Oak St,Customer,NaN,NaN
18,2886241,2014-07-31 23:00:00,2014-08-01 00:00:00,1061,1292,288,Larrabee St & Armitage Ave,17,Wood St & Division St,Customer,NaN,NaN
19,2886240,2014-07-31 23:00:00,2014-08-01 00:00:00,195,761,74,Kingsbury St & Erie St,75,Canal St & Jackson Blvd,Subscriber,Male,1959
20,2886238,2014-07-31 23:00:00,2014-07-31 23:00:00,2027,373,300,Broadway & Barry Ave,232,Pine Grove Ave & Waveland Ave,Subscriber,Male,1988
21,2886237,2014-07-31 23:00:00,2014-08-01 00:00:00,2965,1108,213,Leavitt St & North Ave,80,Aberdeen St & Madison St,Subscriber,Male,1990
22,2886233,2014-07-31 23:00:00,2014-08-01 00:00:00,477,788,47,State St & Kinzie St,134,Peoria St & Jackson Blvd,Customer,NaN,NaN
23,2886232,2014-07-31 23:00:00,2014-08-01 00:00:00,2018,1349,13,Wilton Ave & Diversey Pkwy,337,Clark St & Chicago Ave,Customer,NaN,NaN
24,2886231,2014-07-31 23:00:00,2014-08-01 01:00:00,235,6658,224,Halsted St & Willow St,324,Stockton Dr & Wrightwood Ave,Customer,NaN,NaN
25,2886230,2014-07-31 23:00:00,2014-08-01 00:00:00,1979,739,294,Broadway & Berwyn Ave,304,Halsted St & Waveland Ave,Subscriber,Male,1982
26,2886229,2014-07-31 23:00:00,2014-08-01 00:00:00,2243,699,69,Damen Ave & Pierce Ave,163,Damen Ave & Clybourn Ave,Subscriber,Male,1975
27,2886228,2014-07-31 23:00:00,2014-07-31 23:00:00,784,348,13,Wilton Ave & Diversey Pkwy,87,Racine Ave & Fullerton Ave,Subscriber,Male,1972
28,2886227,2014-07-31 23:00:00,2014-08-01 00:00:00,1552,1303,47,State St & Kinzie St,338,Calumet Ave & 18th St,Subscriber,Female,1978
29,2886226,2014-07-31 23:00:00,2014-07-31 23:00:00,963,483,183,Damen Ave & Augusta Blvd,54,Ogden Ave & Chicago Ave,Subscriber,Male,1976
30,2886225,2014-07-31 23:00:00,2014-08-01 00:00:00,2626,784,47,State St & Kinzie St,134,Peoria St & Jackson Blvd,Subscriber,Male,1986
31,2886224,2014-07-31 23:00:00,2014-07-31 23:00:00,416,271,318,Southport Ave & Irving Park Rd,240,Sheridan Rd & Irving Park Rd,Customer,NaN,NaN
32,2886222,2014-07-31 23:00:00,2014-08-01 00:00:00,1451,1003,35,Streeter Dr & Illinois St,255,Indiana Ave & Roosevelt Rd,Customer,NaN,NaN
33,2886221,2014-07-31 23:00:00,2014-08-01 00:00:00,1593,1091,35,Streeter Dr & Illinois St,255,Indiana Ave & Roosevelt Rd,Customer,NaN,NaN
34,2886220,2014-07-31 23:00:00,2014-07-31 23:00:00,1311,345,13,Wilton Ave & Diversey Pkwy,114,Sheffield Ave & Addison St,Subscriber,Male,1989
35,2886219,2014-07-31 23:00:00,2014-08-01 00:00:00,137,1286,35,Streeter Dr & Illinois St,329,Lake Shore Dr & Diversey Pkwy,Subscriber,Male,1984
36,2886218,2014-07-31 23:00:00,2014-08-01 00:00:00,1222,1096,81,Daley Center Plaza,320,Loomis St & Lexington St,Subscriber,Male,1994
37,2886216,2014-07-31 23:00:00,2014-08-01 00:00:00,2961,745,118,Sedgwick St & North Ave,327,Sheffield Ave & Webster Ave,Subscriber,Male,1994
38,2886215,2014-07-31 23:00:00,2014-08-01 00:00:00,1901,984,288,Larrabee St & Armitage Ave,92,Carpenter St & Huron St,Subscriber,Female,1987
39,2886214,2014-07-31 23:00:00,2014-08-01 00:00:00,2318,990,288,Larrabee St & Armitage Ave,92,Carpenter St & Huron St,Subscriber,Male,1985
40,2886213,2014-07-31 23:00:00,2014-08-01 00:00:00,224,1998,311,Leavitt St & Lawrence Ave,152,Lincoln Ave & Diversey Pkwy,Customer,NaN,NaN
41,2886212,2014-07-31 23:00:00,2014-07-31 23:00:00,2842,637,229,Southport Ave & Roscoe St,156,Clark St & Wellington Ave,Subscriber,Male,1988
42,2886211,2014-07-31 23:00:00,2014-08-01 00:00:00,2541,1744,173,Mies van der Rohe Way & Chicago Ave,313,Lakeview Ave & Fullerton Pkwy,Customer,NaN,NaN
43,2886210,2014-07-31 23:00:00,2014-08-01 00:00:00,2827,1131,191,Canal St & Monroe St,273,Michigan Ave & 18th St,Customer,NaN,NaN
44,2886209,2014-07-31 23:00:00,2014-08-01 00:00:00,2413,1181,35,Streeter Dr & Illinois St,86,Eckhart Park,Customer,NaN,NaN
45,2886208,2014-07-31 23:00:00,2014-07-31 23:00:00,1507,596,69,Damen Ave & Pierce Ave,158,Milwaukee Ave & Wabansia Ave,Subscriber,Male,1981
46,2886206,2014-07-31 23:00:00,2014-08-01 00:00:00,142,1172,35,Streeter Dr & Illinois St,224,Halsted St & Willow St,Subscriber,Male,1977
47,2886205,2014-07-31 23:00:00,2014-08-01 00:00:00,1562,1170,35,Streeter Dr & Illinois St,224,Halsted St & Willow St,Subscriber,Male,1981
48,2886201,2014-07-31 23:00:00,2014-07-31 23:00:00,1563,462,292,Southport Ave & Clark St,326,Clark St & Leland Ave,Subscriber,Male,1966
49,2886200,2014-07-31 23:00:00,2014-07-31 23:00:00,1406,692,239,Western Ave & Leland Ave,330,Lincoln Ave & Addison St,Subscriber,Male,1985

In [49]:
print divvy_hr_df.groupby(['from_station_name'])['starttime'].size().order(ascending = False)

from_station_name
Streeter Dr & Illinois St       11149
Lake Shore Dr & Monroe St        8533
Theater on the Lake              8358
Michigan Ave & Oak St            7338
Lake Shore Dr & North Blvd       6872
Millennium Park                  5560
Clinton St & Washington Blvd     5237
Canal St & Adams St              4840
Columbus Dr & Randolph St        4672
Museum Campus                    4670
Canal St & Madison St            4336
McClurg Ct & Illinois St         3889
Michigan Ave & Washington St     3794
Clark St & Elm St                3760
Indiana Ave & Roosevelt Rd       3545
Wells St & Concord Ln            3438
Michigan Ave & Jackson Blvd      3339
Daley Center Plaza               3228
Franklin St & Arcade Pl          3211
State St & Erie St               3208
Lake Shore Dr & Ohio St          3179
Dearborn St & Adams St           3177
Michigan Ave & Lake St           3113
Clark St & Lincoln Ave           3090
Michigan Ave & Pearson St        3066
State St & Kinzie St             3032
Wabash Ave & Grand Ave           3026
Clinton St & Madison St          2972
Fairbanks Ct & Grand Ave         2941
LaSalle St & Illinois St         2929
                                ...
Morgan St & 31st St               266
Stave St & Armitage Ave           263
Wentworth Ave & 24th St           247
Calumet Ave & 33rd St             240
Greenwood Ave & 47th St           233
Western Ave & 21st St             229
Halsted St & 21st St              222
Halsted St & 35th St              212
Normal Ave & Archer Ave           203
Prairie Ave & Garfield Blvd       197
Claremont Ave & Hirsch St         194
Damen Ave & Cullerton St          185
Indiana Ave & 26th St             177
Wallace Ave & 35th St             176
Ashland Ave & 13th St             157
May St & Cullerton St             144
California Ave & 21st St          137
MLK Jr Dr & Oakwood Blvd          116
State St & 29th St                114
Western Ave & 24th St              98
Ashland Ave & 21st St              92
Halsted St & 37th St               92
Calumet Ave & 35th St              90
MLK Jr Dr & 47th St                75
Racine Ave & 13th St               74
Indiana Ave & 40th St              74
Cottage Grove Ave & 51st St        67
Damen Ave & Coulter St             61
Cottage Grove Ave & 43rd St        20
Cottage Grove Ave & 47th St        19
dtype: int64

In [59]:
fromstation_starttime = divvy_hr_df.groupby(['from_station_name', 'starttime']).size()

In [72]:
fromstation_starttime

from_station_name       starttime
900 W Harrison          2014-07-01 08:00:00    1
                        2014-07-01 10:00:00    1
                        2014-07-01 11:00:00    1
                        2014-07-01 12:00:00    1
                        2014-07-01 13:00:00    1
                        2014-07-01 16:00:00    1
                        2014-07-01 17:00:00    3
                        2014-07-01 22:00:00    1
                        2014-07-02 01:00:00    1
                        2014-07-02 08:00:00    1
                        2014-07-02 12:00:00    2
                        2014-07-02 13:00:00    1
                        2014-07-02 15:00:00    1
                        2014-07-02 16:00:00    4
                        2014-07-02 18:00:00    1
                        2014-07-03 10:00:00    1
                        2014-07-03 12:00:00    1
                        2014-07-03 15:00:00    2
                        2014-07-03 16:00:00    1
                        2014-07-03 17:00:00    2
                        2014-07-03 18:00:00    1
                        2014-07-03 19:00:00    2
                        2014-07-04 00:00:00    1
                        2014-07-04 11:00:00    1
                        2014-07-04 13:00:00    3
                        2014-07-04 17:00:00    1
                        2014-07-04 18:00:00    1
                        2014-07-04 21:00:00    5
                        2014-07-05 02:00:00    1
                        2014-07-05 12:00:00    1
                                              ..
Woodlawn Ave & 55th St  2014-07-27 13:00:00    3
                        2014-07-27 16:00:00    4
                        2014-07-27 17:00:00    1
                        2014-07-27 18:00:00    1
                        2014-07-27 19:00:00    1
                        2014-07-28 08:00:00    1
                        2014-07-28 13:00:00    1
                        2014-07-28 17:00:00    1
                        2014-07-28 19:00:00    1
                        2014-07-29 07:00:00    1
                        2014-07-29 08:00:00    1
                        2014-07-29 09:00:00    2
                        2014-07-29 14:00:00    1
                        2014-07-29 15:00:00    1
                        2014-07-29 16:00:00    1
                        2014-07-29 17:00:00    1
                        2014-07-29 18:00:00    1
                        2014-07-29 22:00:00    3
                        2014-07-30 08:00:00    2
                        2014-07-30 09:00:00    1
                        2014-07-30 13:00:00    1
                        2014-07-30 15:00:00    1
                        2014-07-30 16:00:00    2
                        2014-07-30 18:00:00    1
                        2014-07-30 19:00:00    3
                        2014-07-31 08:00:00    1
                        2014-07-31 11:00:00    1
                        2014-07-31 16:00:00    2
                        2014-07-31 18:00:00    2
                        2014-07-31 19:00:00    2
dtype: int64